@font-face {
  font-family: 'Berlin Sans FB';
  src: url('./fonts/BRLNSR.TTF');
}

body {
  margin: 0;
  font-family: 'Berlin Sans FB', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
